@charset "utf-8";
#loutinav {
    position: fixed;
    top: 100px;
    left: 50px;
    z-index: 11111;
    ul li {
        position: relative;
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        margin-top: 1px;
        background-color: #666;
        background-color: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        font-size: 12px;
        span {
            width: 24px;
            height: 28px;
            position: absolute;
            line-height: 12px;
            margin: 6px auto;
            top: 0;
            left: 6px;
        }
    }
}
#loutinav ul .start {
    background: red;
    span{
        line-height: 22px;
    }
}
#loutinav ul .last{
    background-color: rgba(0, 0, 0, 0.3);
}