@charset "utf-8";
$color:#999;

#nav-first {
    width: 1314px;
    height: 40px !important;
    line-height: 40px!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30);
    margin-bottom: 4px;
    background-color: #f2f2f2;
    .nav-first-margin {
        width: 1230px;
        height: 40px;
        margin: 0 auto;
        ;
    }
}

.nav-first-margin {
    .nav-first-margin-left {
        float: left;
        li {
            float: left;
        }
    }
}

.nav-first-margin-right {
    float: right;
    li {
        float: left;
    }
}

.nav-first-margin-left li:nth-of-type(2) a {

    padding: 0 10px;
    padding-left: 20px;
    color: $color;
    line-height: 32px;
}

.nav-first-margin-left li:nth-of-type(3) a {

    padding: 0 10px;
    color: $color;
    line-height: 32px;
}

.nav-first-margin-left li:nth-of-type(1) span {

    color: $color;
    line-height: 32px;
}

.nav-first-margin-left li:nth-of-type(3) a:hover {
    color: red;
}

.nav-first-margin-left li:nth-of-type(2) a:hover {
    color: red;
}


.nav-first-margin-right li a {
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: $color;
}



.nav-first-margin-right li:nth-of-type(7) span {
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: $color;
}

@for $i from 1 through 6 {
    .nav-first-margin-right li:nth-of-type(#{$i}) a:hover {
        color: red;
    }
}

.nav-first-margin-right li:nth-of-type(1) a:hover {
    background-color: #fff;
    text-decoration: underline;
    .my-baby {

        visibility: visible;

    }
}

.my-baby {
    position: absolute;
    width: 100px;

    background-color: #fff;
    margin-left: -10px;
    margin-top: -8px;
    border-top: 0;
    visibility: hidden;
    p {
        color: $color;
        text-align: center;
        font-size: 12px;
        line-height: 50px;
    }
    p:hover {
        color: red;
        text-decoration: underline;
    }
}

.my-shoucang {
    position: absolute;
    width: 80px;

    background-color: #fff;
    margin-left: -10px;
    margin-top: -8px;
    border-top: 0;
    visibility: hidden;
    p {
        color: $color;
        text-align: center;
        font-size: 12px;
        line-height: 50px;
    }
    p:hover {
        color: red;
        text-decoration: underline;
    }
}

.nav-first-margin-right li:nth-of-type(3) a:hover {
    background-color: #fff;
    text-decoration: underline;
    .my-shoucang {

        visibility: visible;
    }
}

.my-home {
        z-index: 111;
    position: absolute;
    width: 125px;

    background-color: #fff;
    margin-left: -10px;
    margin-top: -8px;
    border-top: 0;
    visibility: hidden;
    ul {
        border-bottom: 1px dashed #ccc;
        height: 160px;
        p {
            color: $color;
            text-align: center;
            font-size: 12px;
            line-height: 40px;
            margin-left: 10px;
        }
        p:hover {
            color: red;
            text-decoration: underline;
        }
    }
}

.my-mm {
    color: #333;
    height: 25px;
    margin-left: 10px;

}

.nav-first-margin-right li:nth-of-type(6) a:hover {
    background-color: #fff;
    text-decoration: underline;
    .my-home {

        visibility: visible;
    }
}