body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0; }

body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%; }

address,
cite,
dfn,
em,
var {
  font-style: normal; }

code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace; }

small {
  font-size: 12px; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset,
img {
  border: 0; }

button,
input,
select,
textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

a:hover {
  text-decoration: none; }

#nav-first {
  width: 1314px;
  height: 40px !important;
  line-height: 40px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 4px;
  background-color: #f2f2f2; }
  #nav-first .nav-first-margin {
    width: 1230px;
    height: 40px;
    margin: 0 auto; }

.nav-first-margin .nav-first-margin-left {
  float: left; }
  .nav-first-margin .nav-first-margin-left li {
    float: left; }

.nav-first-margin-right {
  float: right; }
  .nav-first-margin-right li {
    float: left; }

.nav-first-margin-left li:nth-of-type(2) a {
  padding: 0 10px;
  padding-left: 20px;
  color: #999;
  line-height: 32px; }

.nav-first-margin-left li:nth-of-type(3) a {
  padding: 0 10px;
  color: #999;
  line-height: 32px; }

.nav-first-margin-left li:nth-of-type(1) span {
  color: #999;
  line-height: 32px; }

.nav-first-margin-left li:nth-of-type(3) a:hover {
  color: red; }

.nav-first-margin-left li:nth-of-type(2) a:hover {
  color: red; }

.nav-first-margin-right li a {
  display: inline-block;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: #999; }

.nav-first-margin-right li:nth-of-type(7) span {
  display: inline-block;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: #999; }

.nav-first-margin-right li:nth-of-type(1) a:hover {
  color: red; }

.nav-first-margin-right li:nth-of-type(2) a:hover {
  color: red; }

.nav-first-margin-right li:nth-of-type(3) a:hover {
  color: red; }

.nav-first-margin-right li:nth-of-type(4) a:hover {
  color: red; }

.nav-first-margin-right li:nth-of-type(5) a:hover {
  color: red; }

.nav-first-margin-right li:nth-of-type(6) a:hover {
  color: red; }

.nav-first-margin-right li:nth-of-type(1) a:hover {
  background-color: #fff;
  text-decoration: underline; }
  .nav-first-margin-right li:nth-of-type(1) a:hover .my-baby {
    visibility: visible; }

.my-baby {
  position: absolute;
  width: 100px;
  background-color: #fff;
  margin-left: -10px;
  margin-top: -8px;
  border-top: 0;
  visibility: hidden; }
  .my-baby p {
    color: #999;
    text-align: center;
    font-size: 12px;
    line-height: 50px; }
  .my-baby p:hover {
    color: red;
    text-decoration: underline; }

.my-shoucang {
  position: absolute;
  width: 80px;
  background-color: #fff;
  margin-left: -10px;
  margin-top: -8px;
  border-top: 0;
  visibility: hidden; }
  .my-shoucang p {
    color: #999;
    text-align: center;
    font-size: 12px;
    line-height: 50px; }
  .my-shoucang p:hover {
    color: red;
    text-decoration: underline; }

.nav-first-margin-right li:nth-of-type(3) a:hover {
  background-color: #fff;
  text-decoration: underline; }
  .nav-first-margin-right li:nth-of-type(3) a:hover .my-shoucang {
    visibility: visible; }

.my-home {
  z-index: 111;
  position: absolute;
  width: 125px;
  background-color: #fff;
  margin-left: -10px;
  margin-top: -8px;
  border-top: 0;
  visibility: hidden; }
  .my-home ul {
    border-bottom: 1px dashed #ccc;
    height: 160px; }
    .my-home ul p {
      color: #999;
      text-align: center;
      font-size: 12px;
      line-height: 40px;
      margin-left: 10px; }
    .my-home ul p:hover {
      color: red;
      text-decoration: underline; }

.my-mm {
  color: #333;
  height: 25px;
  margin-left: 10px; }

.nav-first-margin-right li:nth-of-type(6) a:hover {
  background-color: #fff;
  text-decoration: underline; }
  .nav-first-margin-right li:nth-of-type(6) a:hover .my-home {
    visibility: visible; }

.img-top {
  width: 1314px;
  background-color: #350403; }
  .img-top img {
    margin: 0 auto;
    display: block; }

.serch-img {
  display: inline-block;
  float: left; }

.seach-all {
  width: 1314px; }

.serch-serch {
  width: 628px;
  display: inline-block;
  float: left;
  margin-left: 100px;
  padding-top: 38px; }
  .serch-serch input {
    vertical-align: middle;
    display: inline-block;
    width: 491px;
    height: 30px;
    margin: 0 auto;
    border: 3px solid red;
    outline: none; }
  .serch-serch button {
    vertical-align: middle;
    border: 0;
    height: 36px;
    width: 132px;
    margin-left: -5px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    margin-top: -1px;
    cursor: pointer; }

.serch-nav {
  width: 628px;
  margin-left: 100px;
  display: inline-block; }
  .serch-nav li {
    float: left; }
    .serch-nav li a {
      font-size: 14px;
      line-height: 28px;
      color: #999;
      border-left: 1px solid #ccc;
      padding: 0 12px; }
    .serch-nav li a:hover {
      text-decoration: none; }

.serch-nav ul {
  padding: 4px 0 0;
  margin-left: -13px; }
  .serch-nav ul .red a {
    color: red; }
  .serch-nav ul li:nth-of-type(1) a {
    border: 0; }

#loutinav {
  position: fixed;
  top: 100px;
  left: 50px;
  z-index: 11111; }
  #loutinav ul li {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    font-size: 12px; }
    #loutinav ul li span {
      width: 24px;
      height: 28px;
      position: absolute;
      line-height: 12px;
      margin: 6px auto;
      top: 0;
      left: 6px; }

#loutinav ul .start {
  background: red; }
  #loutinav ul .start span {
    line-height: 22px; }

#loutinav ul .last {
  background-color: rgba(0, 0, 0, 0.3); }

.shoop-nav {
  right: 0;
  width: 35px;
  position: absolute;
  top: 0;
  height: 635px;
  background-color: #000; }

.shoop-nav a {
  color: #fff; }

.small-all {
  width: 1314px; }

.small-nav {
  width: 1230px;
  margin: 0 auto;
  border-bottom: 2px solid red; }
  .small-nav li {
    float: left; }
    .small-nav li img {
      display: inline-block;
      width: 100px;
      height: 30px; }
    .small-nav li a {
      line-height: 35px;
      cursor: pointer;
      padding: 0 8px;
      font-weight: 500;
      font-size: 16px;
      display: block;
      color: #333333;
      vertical-align: top; }
    .small-nav li a:hover {
      color: red; }

.nav-first {
  width: 200px;
  float: left;
  color: #fff;
  background-color: #FF0036;
  line-height: 36px; }
  .nav-first p {
    text-align: center;
    font-size: 16px;
    font-weight: bold; }

.big-nav {
  background-color: rgba(0, 0, 0, 0.55);
  width: 200px;
  position: absolute;
  left: -18px;
  top: 296px;
  z-index: 1111;
  margin-left: 60px; }
  .big-nav li a {
    line-height: 31px;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    margin-right: 2px; }
  .big-nav li i {
    height: 21px;
    width: 20px;
    display: inline-block;
    margin-left: 15px;
    font-weight: 100; }

.big-nav ul:nth-of-type(1) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(2) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(3) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(4) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(5) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(6) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(7) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(8) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(9) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(10) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(11) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(12) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(13) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(14) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(15) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(16) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(17) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(18) li:hover {
  background-color: #fff; }

.big-nav ul:nth-of-type(1) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(2) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(3) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(4) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(5) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(6) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(7) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(8) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(9) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(10) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(11) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(12) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(13) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(14) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(15) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(16) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(17) li:hover a {
  color: blue; }

.big-nav ul:nth-of-type(18) li:hover a {
  color: blue; }

.big-nav li div {
  width: 840px;
  height: 496px;
  background-color: red;
  position: absolute;
  left: 200px;
  top: 0;
  z-index: 1111; }

.banner-all {
  width: 1314px; }

.banner-img {
  width: 1230px;
  height: 496px;
  margin: 0 auto;
  position: relative;
  cursor: pointer; }
  .banner-img ul li {
    position: absolute;
    top: 0;
    left: 0px;
    transition: all 1s;
    opacity: 0; }
    .banner-img ul li img {
      display: block;
      width: 1230px;
      height: 496px; }

.banner-img ol {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -87px;
  overflow: hidden; }
  .banner-img ol li {
    float: left;
    width: 25px;
    height: 5px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.55);
    text-indent: 999999px;
    cursor: pointer;
    border: 1px solid #fff; }

.img-all {
  width: 1314px; }
  .img-all .img-img {
    width: 1230px;
    margin: 0 auto; }
    .img-all .img-img .img-top {
      width: 1230px; }
    .img-all .img-img .img-left {
      position: relative;
      float: left;
      width: 610px;
      height: 330px;
      margin-right: 10px; }
    .img-all .img-img .img-right {
      position: relative;
      float: left;
      width: 610px;
      height: 330px; }

.img-top-first a {
  display: block;
  background: url(../img/11.png) center no-repeat;
  background-size: 300px 65px;
  height: 105px; }

.img-left-one {
  background-image: url(../img/12.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 330px;
  margin: 0; }
  .img-left-one em {
    padding-top: 32px;
    display: block;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    font-style: normal;
    color: #8c0bef; }
  .img-left-one div {
    text-align: center; }
    .img-left-one div span {
      padding: 0px 5px 0 5px;
      font-size: 18px;
      color: #8c0bef; }
  .img-left-one .img-left-one-one {
    position: relative;
    margin: 20px auto 0;
    width: 180px;
    height: 180px;
    display: block; }
  .img-left-one .img-left-one-two {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.img-left-two {
  position: relative;
  display: block;
  background: #fff;
  width: 350px;
  height: 160px;
  margin: 0 0 10px 260px; }
  .img-left-two em {
    display: block;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: bold;
    color: #D30D0D; }
  .img-left-two div {
    margin-left: 25px; }
    .img-left-two div span {
      font-size: 18px;
      color: #D30D0D; }
  .img-left-two .img-left-two-one {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px; }
  .img-left-two .img-left-two-two {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.img-left-three {
  position: relative;
  display: block;
  background: #fff;
  width: 350px;
  height: 160px;
  margin: 0 0 10px 260px; }
  .img-left-three em {
    display: block;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: bold;
    color: #179510; }
  .img-left-three div {
    margin-left: 25px; }
    .img-left-three div span {
      font-size: 18px;
      padding: 0px 5px 0 5px;
      color: #179510; }
  .img-left-three .img-left-three-one {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0; }
  .img-left-three .img-left-three-two {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.img-right-one {
  background-image: url(../img/21.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 330px;
  margin: 0; }
  .img-right-one em {
    padding-top: 32px;
    display: block;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    font-style: normal;
    color: #8c0bef; }
  .img-right-one div {
    text-align: center; }
    .img-right-one div span {
      padding: 0px 5px 0 5px;
      font-size: 18px;
      color: #8c0bef; }
  .img-right-one .img-right-one-one {
    position: relative;
    margin: 20px auto 0;
    width: 180px;
    height: 180px;
    display: block; }
  .img-right-one .img-right-one-two {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.img-right-two {
  position: relative;
  display: block;
  background: #fff;
  width: 350px;
  height: 160px;
  margin: 0 0 10px 260px; }
  .img-right-two em {
    display: block;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: bold;
    color: #D30D0D; }
  .img-right-two div {
    margin-left: 25px; }
    .img-right-two div span {
      font-size: 18px;
      color: #D30D0D; }
  .img-right-two .img-right-two-one {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px; }
  .img-right-two .img-right-two-two {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.img-right-three {
  position: relative;
  display: block;
  background: #fff;
  width: 350px;
  height: 160px;
  margin: 0 0 10px 260px; }
  .img-right-three em {
    display: block;
    margin-left: 30px;
    padding-top: 27px;
    font-size: 24px;
    font-weight: bold;
    color: #179510; }
  .img-right-three div {
    margin-left: 25px; }
    .img-right-three div span {
      font-size: 18px;
      padding: 0px 5px 0 5px;
      color: #179510; }
  .img-right-three .img-right-three-one {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0; }
  .img-right-three .img-right-three-two {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.top-search {
  width: 1314px;
  background-color: rgba(255, 0, 54, 0.9);
  position: fixed;
  top: 0px;
  z-index: 10000;
  opacity: 1; }
  .top-search .top-search-all {
    width: 1230px;
    margin: 0 auto;
    background-color: transparent;
    height: 50px; }
    .top-search .top-search-all .search-left {
      display: inline-block;
      width: 240px; }
    .top-search .top-search-all .search-input {
      display: inline-block; }

.search-left i {
  color: #fff;
  font-size: 30px;
  line-height: 50px; }

.search-input input {
  display: inline-block;
  vertical-align: middle;
  outline: transparent dotted 0;
  color: #000;
  margin: 0;
  z-index: 2;
  width: 648px;
  height: 30px;
  line-height: 30px;
  border: 0px;
  margin-bottom: 15px; }

.search-input button {
  width: 90px;
  height: 30px;
  margin-left: -4px;
  margin-top: -15px;
  vertical-align: middle;
  border: 0;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background-color: rgba(255, 0, 54, 0.1); }

.brand-all {
  margin-top: 35px;
  width: 1314px; }
  .brand-all .brand-auto {
    width: 1230px;
    margin: 0 auto; }

.brand-first {
  float: left;
  display: block;
  width: 234px;
  height: 370px;
  margin-right: 13px;
  background-color: #fff; }
  .brand-first .brand-first-one {
    height: 54px;
    background: #fff;
    font-size: 0;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #eeeeee;
    position: relative; }
    .brand-first .brand-first-one .brand-span-one {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      line-height: 54px;
      height: 18px;
      margin-left: 10px; }
    .brand-first .brand-first-one .brand-span-two {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      line-height: 54px;
      height: 18px;
      margin-left: 10px; }
    .brand-first .brand-first-one a {
      position: absolute;
      right: 2px;
      top: 0;
      width: 42px;
      height: 54px;
      background-size: 18px 18px;
      background-image: url(../img/31.png);
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 14px;
      font-size: 16px;
      color: #666; }
  .brand-first a img {
    height: 316px;
    width: 100%; }

.brand-secoend {
  float: left;
  display: block;
  width: 485px;
  height: 370px;
  margin-right: 13px;
  background-color: #fff; }
  .brand-secoend .brand-secoend-one {
    height: 54px;
    background: #fff;
    font-size: 0;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #eeeeee;
    position: relative; }
    .brand-secoend .brand-secoend-one .brand-span-first {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      line-height: 54px;
      height: 18px;
      margin-left: 10px; }
    .brand-secoend .brand-secoend-one .brand-span-secoend {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      margin-left: 10px;
      line-height: 24px;
      height: 44px; }
    .brand-secoend .brand-secoend-one a {
      position: absolute;
      right: 14px;
      top: 0;
      width: 42px;
      height: 54px;
      line-height: 54px;
      z-index: 99;
      background-size: 18px 18px;
      background-image: url(../img/31.png);
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 14px;
      font-size: 16px;
      color: #666; }
  .brand-secoend a img {
    height: 316px;
    width: 100%; }

.brand-thred {
  float: right;
  display: block;
  width: 485px;
  height: 370px;
  background-color: #fff; }
  .brand-thred .brand-thred-one {
    height: 54px;
    background: #fff;
    font-size: 0;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #eeeeee;
    position: relative; }
    .brand-thred .brand-thred-one .brand-span-go {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      line-height: 54px;
      height: 18px;
      margin-left: 10px; }
    .brand-thred .brand-thred-one .brand-span-to {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      margin-left: 10px;
      line-height: 24px;
      height: 44px; }
    .brand-thred .brand-thred-one a {
      position: absolute;
      right: 14px;
      top: 0;
      width: 42px;
      height: 54px;
      line-height: 54px;
      z-index: 99;
      background-size: 18px 18px;
      background-image: url(../img/31.png);
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 14px;
      font-size: 16px;
      color: #666; }
  .brand-thred a img {
    height: 316px;
    width: 100%; }
